
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Ephesis&display=swap');


.estrelas input[type=radio] {
  display: none;
}

.estrelas label i.fa{
  font-size: 1.0em
}

.estrelas label i.fa:before {
  content:'\f005';
  color: rgb(140,205,188);
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.container {
  height: 450px;
  margin-top: 50px;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  margin-bottom: 80px;
}

.container .categoria-title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.categoria-title .title {
  font-size: 25px;
  font-style: italic;
}

.categoria-livro {
  height: 350px;
  margin-top: 20px;
}

.container .categoria-livro {
  display: flex;
  justify-content: flex-start;
}

.categoria-carousel-container {
  height: 350px;
}

.carousel {
  display: flex;
  justify-content: center;
  height: 350px;
}

.carousel-item {
  height: 300px;
}

.carousel-row {
  height: 350px;
  display: flex;
  justify-content: center;
}

.carousel-row-subitem {
  height: 350px;
  width: 12rem;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-right: 3px;
}

.carousel-row-subitem-responsive {
  width: 100%;
}

.img-responsive {
  display: flex;
  justify-content: center;
}

.img-book {
  height: 150px;
}

.title-responsive {
  display: flex;
  justify-content: center;
}

.text-responsive {
  display: flex;
  justify-content: center;
}

.stars-responsive {
  display: flex;
  justify-content: center;
}

.text-price-responsive {
  display: flex;
  justify-content: center;
}

.btn-responsive {
  display: flex;
  justify-content: center;
}

.carousel-arrow-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.carousel-arrow-div {
  width: 50px;
  height: 100%;
  display: flex;
}

.carousel-arrow-div-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.carousel-control-prev-icon {
  align-self: center;
}

.carousel-arrow-2 {
  width: 50px;
  height: 100%;
  display: flex;
}

.carousel-arrow-2-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.sidebar-botao-compra-estilizado {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
}

.carousel-control-next-icon {
  align-self: center;
}




