<div class="container dashboard-container" style="margin-bottom: 200px;">
  <div class="dashboard-title-div">
    <p class="dashboard-title">Edição e Exclusão de livros</p>
  </div>
  <div class="col container navbar-search-div mt-5 mb-5">
    <div class="d-flex justify-content-center navbar-search-subdiv">
      <select (change)="selectFiltro($event)" class="navbar-search-select" aria-label="Default select example">
        <option value="" selected>Pesquisar por</option>
        <option value="Autor">Autor</option>
        <option value="Editora">Editora</option>
        <option value="Livro">Livro</option>
      </select>
      <div class="navbar-search-input-div">
        <input class="navbar-search-input-text" type="text" #campoInput placeholder="O que você procura?">
      </div>
      <div class="navbar-search-btn-div">
        <button class="navbar-search-btn" type="submit" (click)=getLivros(campoInput.value)><i class="bi bi-search"></i></button>
      </div>
    </div>
  </div>
</div>



