/*Division of field the book registration*/

.editbook-container {
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}

.editbook-div {
  margin-top: 10px;
}

.editbook-title-div {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.editbook-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}

.editbook-informations-container {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}

.editbook-informations-div1 {
  margin-bottom: 10px;
}

.editbook-name-label {
  color:rgb(138, 138, 138);
}

.editbook-publishingcompany-label {
  color:rgb(138, 138, 138);
}

.editbook-language-label {
  color:rgb(138, 138, 138);
}

.editbook-password-label {
  color:rgb(138, 138, 138);
}

.editbook-price-label {
  color:rgb(138, 138, 138);
}

.editbook-urlimage-label {
  color:rgb(138, 138, 138);
}

.editbook-numberpage-label {
  color:rgb(138, 138, 138);
}

.editbook-cost-label {
  color:rgb(138, 138, 138);
}

.editbook-quantity-label {
  color:rgb(138, 138, 138);
}

.editbook-category-label {
  color:rgb(138, 138, 138);
}

.editbook-description-label {
  color:rgb(138, 138, 138);
}

.editbook-cost-label {
  color:rgb(138, 138, 138);
}

.editbook-authorname-label {
  color:rgb(138, 138, 138);
}

.form-control {
  box-shadow: 0 0 0 0;
  border: 1px solid rgb(209, 208, 208);
  outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(140,205,188) !important;
  opacity: 1; /* Firefox */
}

.editbook-btn-update-registration {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editbook-btn-modify-book {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editbook-btn-delete-book {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
