.navbar-search-subdiv {
  height: auto;
  width: auto;
}

.navbar-search-select {
  border-radius: 0;
  margin-bottom: 2px;
  outline: none;
  color: rgb(140,205,188);
  border: 1px solid white;
  padding: 5px;
  border: 1px solid rgb(158, 158, 158);
  height: 38px;
}

.navbar-search-input-div {
  height: 40px;
  align-self: center;
}

.navbar-search-input-text {
  border: 1px solid white;
  height: 38px;
  width: auto;
  outline: none;
  border-bottom: 1px solid rgb(158, 158, 158);
  border-top: 1px solid rgb(158, 158, 158);
}

.navbar-search-btn-div {
  height: 40px;
  align-self: center;

}

.navbar-search-btn {
  border: 1px solid white;
  background-color: white;
  height: 38px;
  width: 50px;
  position: relative;
  right: 20px;
  color: rgb(140,205,188);
  border: 1px solid rgb(158, 158, 158);
}

.dashboard-container {
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}

.dashboard-title-div {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.dashboard-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}


