
<div class="container employee-account-container">
  <div class="container dashboard-container">
    <div class="dashboard-title-div">
      <p class="dashboard-title">Dashboard</p>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col dashboard-input-div d-flex justify-content-center mt-3" >
        <input class="dashboard-input-text" type="text" #campoInput placeholder="Escolha um mês?">
        <button class="dashboard-btn" type="submit" (click)=getSeacrh(campoInput.value)><i class="bi bi-search"></i></button>
      </div>
    </div>
    <div class="container dashboard-informations-container">
      <div class="row dashboard-informations-div1">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-readers-div">
          <div class="row mt-2 dashboard-card-readers-subdiv">
            <div class="col-8 dashboard-card-readers-title">
              <p class="dashboard-card-readers-value" data-bs-toggle="tooltip" data-bs-placement="top" title="1500">1500</p>
              <p class="dashboard-card-readers-text">Quantidade de leitores</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-readers-icon">
              <i><i class="bi bi-people align-self-center dashboard-icon-readers-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-profit-div">
          <div class="row mt-2 dashboard-card-profit-subdiv">
            <div class="col-8 dashboard-card-profit-title">
              <p class="dashboard-card-profit-value"  data-bs-toggle="tooltip" data-bs-placement="top" title="R$ 200.000,00">R$ 200.000,00</p>
              <p class="dashboard-card-profit-text">Lucratividade</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-profit-icon">
              <i><i class="bi bi-bar-chart-line align-self-center dashboard-icon-profit-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-best-selling-book-category-div">
          <div class="row mt-2 dashboard-card-best-selling-book-category-subdiv">
            <div class="col-8 dashboard-card-best-selling-book-category-title">
              <p class="dashboard-card-best-selling-book-category-value" data-bs-toggle="tooltip" data-bs-placement="top" title="Literatura">Literatura</p>
              <p class="dashboard-card-best-selling-book-category-text">Categoria mais vendido</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-best-selling-book-category-icon">
              <i><i class="bi bi-stack align-self-center dashboard-icon-best-selling-book-category-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-how-many-books-are-in-stock-div">
          <div class="row mt-2 dashboard-card-how-many-books-are-in-stock-subdiv">
            <div class="col-8 dashboard-card-how-many-books-are-in-stock-title">
              <p class="dashboard-card-how-many-books-are-in-stock-value" data-bs-toggle="tooltip" data-bs-placement="top" title="10.500">10.500</p>
              <p class="dashboard-card-how-many-books-are-in-stock-text">Livros em estoque</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-how-many-books-are-in-stock-icon">
              <i><i class="bi bi-box align-self-center dashboard-icon-how-many-books-are-in-stock-book"></i></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row dashboard-informations-div2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-best-selling-books-div">
          <div class="row mt-2 dashboard-card-best-selling-books-subdiv">
            <div class="col-8 dashboard-card-best-selling-books-title">
              <p class="dashboard-card-best-selling-books-value" data-bs-toggle="tooltip" data-bs-placement="top" title="Dom Casmurro">Dom Casmurro</p>
              <p class="dashboard-card-best-selling-books-text">Livro mais vendido</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-best-selling-books-icon">
              <i><i class="bi bi-book align-self-center dashboard-icon-best-selling-books-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-region-that-bought-the-most-book-div">
          <div class="row mt-2 dashboard-card-region-that-bought-the-most-book-subdiv">
            <div class="col-8 dashboard-card-region-that-bought-the-most-book-title">
              <p class="dashboard-card-region-that-bought-the-most-book-value" data-bs-toggle="tooltip" data-bs-placement="top" title="Sudeste">Sudeste</p>
              <p class="dashboard-card-region-that-bought-the-most-book-text">Leitor por região</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-region-that-bought-the-most-book-icon">
              <i><i class="bi bi-geo-alt align-self-center dashboard-icon-region-that-bought-the-most-book-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-genre-that-bought-the-most-book-div">
          <div class="row mt-2 dashboard-card-genre-that-bought-the-most-book-subdiv">
            <div class="col-8 dashboard-card-genre-that-bought-the-most-book-title">
              <p class="dashboard-card-genre-that-bought-the-most-book-value" data-bs-toggle="tooltip" data-bs-placement="top" title="Feminino">Feminino</p>
              <p class="dashboard-card-genre-that-bought-the-most-book-text">Leitor por gênero</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-genre-that-bought-the-most-book-icon">
              <i><i class="bi bi-gender-ambiguous align-self-center dashboard-icon-genre-that-bought-the-most-book-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 dashboard-card-books-sold-div">
          <div class="row mt-2 dashboard-card-books-sold-subdiv">
            <div class="col-8 dashboard-card-books-sold-title">
              <p class="dashboard-card-books-sold-value" data-bs-toggle="tooltip" data-bs-placement="top" title="15.000">15.000</p>
              <p class="dashboard-card-books-sold-text">Livros vendidos</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-books-sold-icon">
              <i><i class="bi bi-book align-self-center dashboard-icon-books-sold-book"></i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container employeeregistrationupdate-container">
    <div class="container employeeregistrationupdate-div">
      <div class="employeeregistrationupdate-div">
        <div class="employeeregistrationupdate-title-div">
          <p class="employeeregistrationupdate-title">Atualização Cadastral</p>
        </div>
        <div class="employeeregistrationupdate-informations-container mt-3" *ngIf="usuario">
          <form>
            <div class="row employeeregistrationupdate-informations-div1" >
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-name-label">Nome</label>
                <input type="text" class="form-control" placeholder="{{usuario.nome}}">
              </div>
              <div class="col-sm-12 col-md-3">
                  <label class="employeeregistrationupdate-lastname-label">Sobrenome</label>
                  <input type="text" class="form-control" placeholder="{{usuario.sobrenome}}">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-email-label">E-mail</label>
                <input type="email" class="form-control" placeholder="{{usuario.emailUsuario}}">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-password-label">Senha</label>
                <input type="password" class="form-control" placeholder="Senha">
              </div>
            </div>
            <div class="row employeeregistrationupdate-informations-div2">
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-zipcode-label">CEP</label>
                <input type="text" class="form-control" placeholder="{{usuario.cepUsuario}}">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-address-label">Endereço</label>
                <input type="text" class="form-control" placeholder="{{usuario.enderecoUsuario}}">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-number-label">Número</label>
                <input type="text" class="form-control" placeholder="{{usuario.numeroEnderecoUsuario}}">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-complement-label">Complemento</label>
                <input type="text" class="form-control" placeholder="{{usuario.complementoEnderecoUsuario}}">
              </div>
            </div>
            <div class="row employeeregistrationupdate-informations-div3">
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-city-label">Cidade</label>
                <input type="text" class="form-control" placeholder="{{usuario.cidadeUsuario}}">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-state-label">Estado</label>
                <select class="form-select employeeregistrationupdate-select" aria-label="Default select example">
                  <option selected>{{usuario.estadoUsuario}}</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                  <option value="EX">Estrangeiro</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-user-label">Tipo de Usuário</label>
                <select class="form-select employeeregistrationupdate-select-user" aria-label="Default select example">
                  <option selected>{{usuario.tipoUsuario.nome}}</option>
                  <option value="Ciente">Cliente</option>
                  <option value="Colaborador">Colaborador</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationupdate-gender-label">Sexo</label>
                <select class="form-select employeeregistrationupdate-select-gender" aria-label="Default select example">
                  <option selected>{{usuario.sexoUsuario}}</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Feminino">Feminino</option>
                </select>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn employeeregistrationupdate-btn-update-registration">Atualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container employeeregistrationbook-container">
    <div class="container employeeregistrationbook-div">
      <div class="employeeregistrationbook-div">
        <div class="employeeregistrationbook-title-div">
          <p class="employeeregistrationbook-title">Cadastro de Livros</p>
        </div>
        <div class="employeeregistrationbook-informations-container mt-3">
          <form>
            <div class="row employeeregistrationbook-informations-div1">
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationbook-name-label">Nome do livro</label>
                <input type="text" class="form-control" placeholder="Nome">
              </div>
              <div class="col-sm-12 col-md-3">
                  <label class="employeeregistrationbook-publishingcompany-label">Editora</label>
                  <input type="text" class="form-control" placeholder="Editora">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationbook-language-label">Idioma</label>
                <input type="text" class="form-control" placeholder="Idioma">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationbook-price-label">Preço de Venda</label>
                <input type="text" class="form-control" placeholder="Preço de Venda">
              </div>
            </div>
            <div class="row mt-2 employeeregistrationbook-informations-div2">
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationbook-urlimage-label">URL da Imagem</label>
                <input type="text" class="form-control" placeholder="URL da Imagem">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationbook-numberpage-label">Número de Páginas</label>
                <input type="text" class="form-control" placeholder="Número de Páginas">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationbook-cost-label">Custo</label>
                <input type="text" class="form-control" placeholder="Custo">
              </div>
              <div class="col-sm-12 col-md-3">
                <label class="employeeregistrationbook-authorname-label">Nome do Autor</label>
                <input type="text" class="form-control" placeholder="Nome do Autor">
              </div>
            </div>
            <div class="row mt-2 employeeregistrationbook-informations-div3">
              <div class="col">
                <label class="employeeregistrationbook-quantity-label">Quantidade</label>
                <input type="text" class="form-control" placeholder="Quantidade">
              </div>
              <div class="col">
                <label class="employeeregistrationbook-category-label">Categoria</label>
                <input type="text" class="form-control" placeholder="Categoria">
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn employeeregistrationbook-btn-update-registration">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container employeeupdatebook-container" style="height: 500px;">
    <div class="container employeeupdatebook-div">
      <div class="employeeupdatebook-div">
        <div class="employeeupdatebook-title-div">
          <p class="employeeupdatebook-title">Edição de Livros</p>
        </div>
        <div class="col employeeupdatebook-search-div mt-3">
          <div class="employeeupdatebook-search-subdiv">
            <div class="d-flex justify-content-center">
              <select (change)="selectFiltro($event)" class="employeeupdatebook-search-select" aria-label="Default select example">
                <option value="" selected>Pesquisar por</option>
                <option value="Autor">Autor</option>
                <option value="Editora">Editora</option>
                <option value="Livro">Livro</option>
              </select>
              <div class="employeeupdatebook-search-input-div">
                <input class="employeeupdatebook-search-input-text" type="text" #campoInputUpdate placeholder="O que você procura?">
              </div>
              <div class="employeeupdatebook-search-btn-div">
                <button class="employeeupdatebook-search-btn" type="submit" (click)=getSeacrh(campoInputUpdate.value)><i class="bi bi-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="row employeeupdatebook-information-of-book-container">
          <div class="employeeupdatebook-information-of-book-div" *ngIf = "$livros | async as content; else loading">
            <div class="carousel employeeupdatebook-information-of-book-carousel carousel-dark slide" id="carouselbookcategory" data-bs-ride="carousel">
              <div class="carousel-item employeeupdatebook-information-of-book-carousel-item" *ngFor="let listaLivro of slides_literatura; let i = index;" [ngClass]="{'active': i == 0}" data-bs-interval="10000">
                <div class="employeeupdatebook-information-of-book-carousel-item-container">
                  <div class="employeeupdatebook-information-of-book-carousel-item-div" *ngFor="let livro of listaLivro">
                    <div class="employeeupdatebook-information-of-book-carousel-item-subdiv">
                      <div class="employeeupdatebook-information-of-book-img-div">
                        <img src={{livro.urlDaImagemDoLivro}} class="employeeupdatebook-information-of-book-img" alt="...">
                      </div>
                      <div class="employeeupdatebook-information-of-book-title-div">
                        <h6 class="employeeupdatebook-information-of-book-title-text">{{livro.nomeDoLivro}}</h6>
                      </div>
                      <div class="employeeupdatebook-information-of-book-author-div">
                        <p class="employeeupdatebook-information-of-book-author-text">{{livro.nomeDoAutor}}</p>
                      </div>
                      <div class="employeeupdatebook-rating-div">
                        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                        <div class="employeeupdatebook-stars-container">
                          <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                          <label for="cm_star-1"><i class="fa"></i></label>
                          <input type="radio" id="cm_star-1" name="fb" value="1"/>
                          <label for="cm_star-2"><i class="fa"></i></label>
                          <input type="radio" id="cm_star-2" name="fb" value="2"/>
                          <label for="cm_star-3"><i class="fa"></i></label>
                          <input type="radio" id="cm_star-3" name="fb" value="3"/>
                          <label for="cm_star-4"><i class="fa"></i></label>
                          <input type="radio" id="cm_star-4" name="fb" value="4"/>
                          <label for="cm_star-5"><i class="fa"></i></label>
                          <input type="radio" id="cm_star-5" name="fb" value="5"/>
                        </div>
                      </div>
                      <div class="employeeupdatebook-information-of-book-price-div">
                        <p class="employeeupdatebook-information-of-book-price-text">R${{livro.precoDeVendaDoLivro}}</p>
                      </div>
                      <div class="employeeupdatebook-information-of-book-btn-div">
                        <a class="btn employeeupdatebook-btn-modify-book"> Editar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="employeeupdatebook-carousel-arrow-div">
                <div class="employeeupdatebook-carousel-arrow-subdiv1">
                  <button class="employeeupdatebook-carousel-arrow-subdiv1-btn" type="button" data-bs-target="#carouselbookcategory" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                </div>
                <div class="employeeupdatebook-carousel-arrow-subdiv2">
                  <button class="employeeupdatebook-carousel-arrow-subdiv2-btn" type="button" data-bs-target="#carouselbookcategory" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>










      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>

