/*Division of field client account*/

.client-account-container {
  height: auto;
}

/*Division of field the registration update*/

.clientregistrationupdate-container {
  margin-top: 50px;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}

.clientregistrationupdate-div {
  margin-top: 10px;
}

.clientregistrationupdate-title-div {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.clientregistrationupdate-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}

.clientregistrationupdate-informations-container {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}

.clientregistrationupdate-name-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-lastname-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-email-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-password-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-zipcode-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-city-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-address-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-number-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-complement-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-select {
  color: rgb(140,205,188);
}

.clientregistrationupdate-state-label {
  color:rgb(138, 138, 138);
}
.clientregistrationupdate-user-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-select-user {
  color: rgb(140,205,188);
}

.clientregistrationupdate-gender-label {
  color:rgb(138, 138, 138);
}

.clientregistrationupdate-select-gender {
  color: rgb(140,205,188);
}

.form-control {
  box-shadow: 0 0 0 0;
  border: 1px solid rgb(209, 208, 208);
  outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(140,205,188) !important;
  opacity: 1; /* Firefox */
}

.clientregistrationupdate-btn-update-registration {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Division of field the payment*/

.clientpayment-container-parent {
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}

.clientpayment-div {
  margin-top: 10px;
}

.clientpayment-title-div {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.clientpayment-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}

.clientpayment-informations-div1 {
  margin-bottom: 10px;
}

.clientpayment-creditcard-label {
  color:rgb(138, 138, 138);
}

.clientpayment-cardnumber-label {
  color:rgb(138, 138, 138);
}

.clientpayment-expiriondate-label {
  color:rgb(138, 138, 138);
}

.clientpayment-securitycode-label {
  color:rgb(138, 138, 138);
}

.clientpayment-select-mounth {
  color: rgb(140,205,188);
  margin-right: 20px;
}

.clientpayment-select-year {
  color: rgb(140,205,188);
}

.form-control {
  box-shadow: 0 0 0 0;
  border: 1px solid rgb(209, 208, 208);
  outline: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(140,205,188) !important;
  opacity: 1; /* Firefox */
}

.clientpayment-btn-update-registration {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Division of the field of my comments and ratings*/

.yourcomments-container {
  border: 2px solid black;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}

.yourcomments-div {
  margin-top: 10px;
}

.yourcomments-title-container {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(204, 203, 203);
  border: 2px solid black;
}

.yourcomments-title-div {
  border-bottom: 1px solid rgb(204, 203, 203);
  display: flex;
  justify-content: flex-start;
}

.yourcomments-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}

.yourcomments-informations-container {
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.yourcomments-informations-div {
  border: 1px solid rgb(204, 203, 203);
  border-radius: 5px;
}

.yourcomments-img-div {
  display: flex;
  justify-content: center;
  border-right: 1px solid rgb(204, 203, 203);
}

.yourcomments-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.yourcomments-informations-of-book-container {
  display: flex;
}

.yourcomments-informations-of-book-div {
  align-self: center;
}

.yourcomments-title-book-div {
  border-bottom: 1px solid rgb(204, 203, 203);
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: rgb(140,205,188);
  font-weight: 700;
  margin-top: 10px;
}

.yourcomments-author-publishingcompany-date-div {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.yourcomments-author-div {
  display: flex;
}

.yourcomments-author-p1 {
  font-weight: 700;
}

.yourcomments-author-p2 {
  margin-left: 5px;
  color:rgb(138, 138, 138);
  font-style: italic;
}

.yourcomments-publishingcompany-div {
  display: flex;
}

.yourcomments-publishingcompany-p1 {
  font-weight: 700;
}

.yourcomments-publishingcompany-p2 {
  margin-left: 5px;
  color:rgb(138, 138, 138);
  font-style: italic;
}

.yourcomments-date-div {
  display: flex;
}

.yourcomments-date-p1 {
  font-weight: 700;
}

.yourcomments-date-p2 {
  margin-left: 5px;
  color:rgb(138, 138, 138);
  font-style: italic;
}

.yourcomments-price-div {
  display: flex;
}

.yourcomments-price-p1 {
  font-weight: 700;
}

.yourcomments-price-p2 {
  margin-left: 5px;
  color:rgb(138, 138, 138);
  font-style: italic;
}

.yourcomments-rating-div {
  margin-top: 25px;
}

.yourcomments-stars-container {
  display: flex;
}

.yourcomments-classification-text {
  font-weight: 700;
}

.yourcomments-stars-div {
  margin-left: 5px;
}

.yourcomments-stars-div input[type=radio] {
  display: none;
}

.yourcomments-stars-div label i.fa{
  font-size: 1.0em
}

.yourcomments-stars-div label i.fa:before {
  content:'\f005';
  color:rgb(140,205,188);
}

.yourcomments-stars-div input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.yourcomments-textarea {
  margin-top: 25px;
}

.yourcomments-textarea-text {
  width: 100%;
  height: 70px;
  border: 1px solid rgb(204, 203, 203);
  border-radius: 5px;
  outline: white;
}

.yourcomments-btn-modify-book {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.yourcomments-btn-update-book {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Division of field book purchase */

.purchases-container {
  height: 450px;
  margin-top: 50px;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  margin-bottom: 80px;
}

.purchases-div {
  margin-top: 10px;
}

.purchases-title-div {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.purchases-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}

.purchases-information-of-book-container {
  height: 350px;
  margin-top: 20px;
}

.purchases-information-of-book-div {
  height: 350px;
}

.purchases-information-of-book-carousel {
  display: flex;
  justify-content: center;
  height: 350px;
}

.purchases-information-of-book-carousel-item {
  height: auto;
}

.purchases-information-of-book-carousel-item-container {
  height: 350px;
  display: flex;
  justify-content: center;
}

.purchases-information-of-book-carousel-item-container {
  height: 350px;
  display: flex;
  justify-content: center;
}

.purchases-information-of-book-carousel-item-div {
  height: 350px;
  width: 12rem;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-right: 3px;
}

.purchases-information-of-book-carousel-item-subdiv {
  width: 100%;
}

.purchases-information-of-book-img-div {
  display: flex;
  justify-content: center;
}

.purchases-information-of-book-img {
  height: 150px;
}

.purchases-information-of-book-title-div {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.purchases-information-of-book-title-text {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.purchases-information-of-book-author-div {
  display: flex;
  justify-content: center;
}

.purchases-rating-div {
  display: flex;
  justify-content: center;
}

.purchases-stars-container input[type=radio] {
  display: none;
}

.purchases-stars-container label i.fa{
  font-size: 1.0em
}

.purchases-stars-container label i.fa:before {
  content:'\f005';
  color: rgb(140,205,188);
}

.purchases-stars-container input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.purchases-information-of-book-price-div {
  display: flex;
  justify-content: center;
}

.purchases-information-of-book-btn-div {
  display: flex;
  justify-content: center;
}

.purchases-carousel-arrow-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.purchases-carousel-arrow-subdiv1 {
  width: 50px;
  height: 100%;
  display: flex;
}

.purchases-carousel-arrow-subdiv1-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.carousel-control-prev-icon {
  align-self: center;
}

.purchases-carousel-arrow-subdiv2 {
  width: 50px;
  height: 100%;
  display: flex;
}

.purchases-carousel-arrow-subdiv2-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.purchases-btn-modify-book {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: white;
}

.carousel-control-next-icon {
  align-self: center;
}