/*Division of field login */

.login-container {
  margin-top:50px;
  margin-bottom: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.login-informations-form-title {
  color:rgb(140,205,188);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(140,205,188) !important;
  opacity: 1; /* Firefox */
}

.login-dont-fave-register a {
  text-decoration: none;
  color: rgb(140,205,188);
  cursor: pointer;
}

.login-btn {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
}


