<div class="container login-container">
  <div class="row login-informations-div">
    <form class="col-md-6 offset-md-3 login-informations-form">
      <div class="container">
        <h3 class="login-informations-form-title">Login</h3>
        <hr class="divisor">
        <br>
        <div class="form-group">
            <label class="login-email-title">E-mail</label>
            <input type="email" class="form-control" placeholder="E-mail" #inputEmail>
        </div>
        <br>
        <div class="form-group">
            <label class="login-password-title">Senha</label>
            <input type="password" class="form-control" placeholder="Senha" #inputPassword>
        </div>
        <div class="login-dont-fave-register" (click)="go('registrar')">
          <a>Não tem cadastro ></a>
        </div>
        <br>
        <button type="submit" (click)="login(inputEmail.value, inputPassword.value)" class="btn login-btn"><i class="fa fa-sign-in"></i>Entrar</button>
      </div>
    </form>
  </div>
</div>
