<div class="container">
  <div class="row mgTp">
      <form class="col-md-10 offset-md-1">
          <h3 class="title">Cadastro de Usuário</h3>
          <hr class="divisor">
          <div class="row">
            <div class="col">
                <label>Nome do Usuário</label>
                <input type="text" class="form-control" placeholder="Nome do Usuário">
            </div>
            <div class="col">
                <label>Sobrenome do Usuário</label>
                <input type="text" class="form-control" placeholder="Sobrenome do Usuário">
            </div>
            <div class="col">
              <label>E-mail do Usuário</label>
              <input type="email" class="form-control" placeholder="E-mail do Usuário">
            </div>
            <div class="col">
              <label>Senha do Usuário</label>
              <input type="password" class="form-control" placeholder="Senha do Usuário">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
                <label>Sexo do Usuário</label>
                <input type="text" class="form-control" placeholder="Sexo do Usuário">
            </div>
            <div class="col">
                <label>CEP do Usuário</label>
                <input type="text" class="form-control" placeholder="CEP do Usuário">
            </div>
            <div class="col">
              <label>Cidade do Usuário</label>
              <input type="text" class="form-control" placeholder="Cidade do Usuário">
            </div>
            <div class="col">
              <label>Estado do Usuário</label>
              <input type="text" class="form-control" placeholder="Estado do Usuário">
            </div>
          </div>

          <button type="submit" class="btn botao-cadastro-livro topBtn"><i class="fa fa-sign-in"></i>Cadastrar</button>
      </form>
  </div>
</div>
