
<div class="container client-account-container">
  <div class="container registrationupdate-container">
    <div class="registrationupdate-title-div">
      <p class="registrationupdate-title">Atualização Cadastral</p>
    </div>
    <div class="registrationupdate-informations-container">
      <form>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <label class="registrationupdate-name-label">Nome</label>
            <input type="text" class="form-control" placeholder="Nome">
          </div>
          <div class="col-sm-12 col-md-3">
              <label class="registrationupdate-lastname-label">Sobrenome</label>
              <input type="text" class="form-control" placeholder="Sobrenome">
          </div>
          <div class="col-sm-12 col-md-3">
            <label class="registrationupdate-email-label">E-mail</label>
            <input type="email" class="form-control" placeholder="E-mail">
          </div>
          <div class="col-sm-12 col-md-3">
            <label class="registrationupdate-password-label">Senha</label>
            <input type="password" class="form-control" placeholder="Senha">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <label class="registrationupdate-gender-label">Sexo</label>
            <input type="text" class="form-control" placeholder="Sexo">
          </div>
          <div class="col-sm-12 col-md-3">
            <label class="registrationupdate-zipcode-label">CEP</label>
            <input type="text" class="form-control" placeholder="CEP">
          </div>
          <div class="col-sm-12 col-md-3">
            <label class="registrationupdate-city-label">Cidade</label>
            <input type="text" class="form-control" placeholder="Cidade">
          </div>
          <div class="col-sm-12 col-md-3">
            <label class="registrationupdate-state-label">Estado</label>
            <input type="text" class="form-control" placeholder="Estado">
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn registrationupdate-btn-update-registration">Atualizar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container yourcomments-container">
    <div class="yourcomments-title-div">
      <p class="yourcomments-title">Meus Comentários & Avaliações</p>
    </div>
    <div class="container yourcomments-informations-container">
      <div class="row yourcomments-informations-div">
        <div class="col-sm-12 col-md-6 yourcomments-img-div">
          <div class="yourcomments-img">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41GeyYROqTL._SY344_BO1,204,203,200_QL70_ML2_.jpg">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 yourcomments-informations-of-book-container">
          <div class="container yourcomments-informations-of-book-div">
            <div class="yourcomments-title-book-div">
              <p class="yourcomments-title-book-p">Dom Casmurro</p>
            </div>
            <div class="yourcomments-author-publishingcompany-date-div">
              <div class="yourcomments-author-div">
                <p class="yourcomments-author-p1">Autor:</p>
                <p class="yourcomments-author-p2">Machado de Assis</p>
              </div>
              <div class="yourcomments-publishingcompany-div">
                <p class="yourcomments-publishingcompany-p1">Editora:</p>
                <p class="yourcomments-publishingcompany-p2">Principis</p>
              </div>
              <div class="yourcomments-date-div">
                <p class="yourcomments-date-p1">Data:</p>
                <p class="yourcomments-date-p2">20/11/2021</p>
              </div>
            </div>
            <div class="yourcomments-rating-div">
              <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
              <div class="yourcomments-stars-container">
                <div class="yourcomments-classification-text">
                  <p>Classificação:</p>
                </div>
                <div class="yourcomments-stars-div">
                  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                  <label for="cm_star-1"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-1" name="fb" value="1"/>
                  <label for="cm_star-2"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-2" name="fb" value="2"/>
                  <label for="cm_star-3"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-3" name="fb" value="3"/>
                  <label for="cm_star-4"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-4" name="fb" value="4"/>
                  <label for="cm_star-5"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-5" name="fb" value="5"/>
                </div>
              </div>
            </div>
            <div>
              <div class="yourcomments-textarea">
                <textarea class="yourcomments-textarea-text" placeholder="Comentário:"></textarea>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn yourcomments-btn-modify-book">Modificar</button>
              <button type="submit" class="btn yourcomments-btn-update-book">Atualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>

  <div class="container purchases-container">
    <div class="purchases-title-div">
      <p class="purchases-title">Minhas Compras</p>
    </div>
    <div class="container purchases-informations-container">
      <div class="row purchases-informations-div">
        <div class="col-sm-12 col-md-6 purchases-img-div">
          <div class="purchases-img">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41GeyYROqTL._SY344_BO1,204,203,200_QL70_ML2_.jpg">
          </div>
        </div>
        <div class="col-sm-12 col-md-6 purchases-informations-of-book-container">
          <div class="container purchases-informations-of-book-div">
            <div class="purchases-title-book-div">
              <p class="purchases-title-book-p">Dom Casmurro</p>
            </div>
            <div class="purchases-author-publishingcompany-date-div">
              <div class="purchases-author-div">
                <p class="purchases-author-p1">Autor:</p>
                <p class="purchases-author-p2">Machado de Assis</p>
              </div>
              <div class="purchases-publishingcompany-div">
                <p class="purchases-publishingcompany-p1">Editora:</p>
                <p class="purchases-publishingcompany-p2">Principis</p>
              </div>
              <div class="purchases-date-div">
                <p class="purchases-date-p1">Data:</p>
                <p class="purchases-date-p2">20/11/2021</p>
              </div>
              <div class="purchases-date-div">
                <p class="purchases-date-p1">Preço:</p>
                <p class="purchases-date-p2">R$20,00</p>
              </div>
            </div>
            <div class="purchases-rating-div">
              <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
              <div class="purchases-stars-container">
                <div class="purchases-classification-text">
                  <p>Classificar:</p>
                </div>
                <div class="purchases-stars-div">
                  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                  <label for="cm_star-1"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-1" name="fb" value="1"/>
                  <label for="cm_star-2"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-2" name="fb" value="2"/>
                  <label for="cm_star-3"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-3" name="fb" value="3"/>
                  <label for="cm_star-4"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-4" name="fb" value="4"/>
                  <label for="cm_star-5"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-5" name="fb" value="5"/>
                </div>
              </div>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Título:">
            </div>
            <div>
              <div class="purchases-textarea">
                <textarea class="purchases-textarea-text" placeholder="Comentar:"></textarea>
              </div>
            </div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn purchases-btn-modify-book">Avaliar & Comentar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>
  </div>

  <ng-template #loading>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
