<div class="container dashboard-container" style="margin-bottom: 50px;">
  <div class="dashboard-title-div">
    <p class="dashboard-title">Dashboard</p>
  </div>

  <div class="container dashboard-informations-container">
    <div class="row dashboard-informations-div1 d-flex justify-content-center">
      <div class="col-12 col-sm-6 col-md-6 col-lg-5 dashboard-card-readers-div">
        <div class="row mt-2 dashboard-card-readers-subdiv">
          <div class="col-8 dashboard-card-readers-title">
            <p class="dashboard-card-readers-value" data-bs-toggle="tooltip" data-bs-placement="top">{{globalReport.stockBook}}</p>
            <p class="dashboard-card-readers-text">Quantidade de leitores</p>
          </div>
          <div class="col-4 d-flex justify-content-center dashboard-card-readers-icon">
            <i><i class="bi bi-people align-self-center dashboard-icon-readers-book"></i></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-5 dashboard-card-how-many-books-are-in-stock-div">
        <div class="row mt-2 dashboard-card-how-many-books-are-in-stock-subdiv">
          <div class="col-8 dashboard-card-how-many-books-are-in-stock-title">
            <p class="dashboard-card-how-many-books-are-in-stock-value" data-bs-toggle="tooltip" data-bs-placement="top">{{globalReport.readerQuantity}}</p>
            <p class="dashboard-card-how-many-books-are-in-stock-text">Livros em estoque</p>
          </div>
          <div class="col-4 d-flex justify-content-center dashboard-card-how-many-books-are-in-stock-icon">
            <i><i class="bi bi-box align-self-center dashboard-icon-how-many-books-are-in-stock-book"></i></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="d-flex justify-content-center" style="margin-top: 80px; margin-bottom: 40px;">
      <div class="dropdown" style="margin-right: 15px;">
        <select name="mes" [(ngModel)]="parametros.mes" class="navbar-search-select" aria-label="Default select example">
          <option value="01" selected>Janeiro</option>
          <option value="02">Fevereiro</option>
          <option value="03">Março</option>
          <option value="04">Abril</option>
          <option value="05">Maio</option>
          <option value="06">Junho</option>
          <option value="07">Julho</option>
          <option value="08">Agosto</option>
          <option value="09">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>
      <select name="ano" [(ngModel)]="parametros.ano" class="navbar-search-select" aria-label="Default select example" style="margin-right: 15px;">
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022" selected>2022</option>
      </select>
      <span class="navbar-search-select" style=" background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%); color: white; cursor: pointer;" (click)="consultar()">Consultar</span>
    </div>

    <div class="container dashboard-informations-container" *ngIf="showStatsReport">
      <div class="row dashboard-informations-div1">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 dashboard-card-profit-div">
          <div class="row mt-2 dashboard-card-profit-subdiv">
            <div class="col-8 dashboard-card-profit-title">
              <p class="dashboard-card-profit-value"  data-bs-toggle="tooltip" data-bs-placement="top">R$ {{alterarTamanhoDecimal(statsReport.lucratividade)}}</p>
              <p class="dashboard-card-profit-text">Lucratividade</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-profit-icon">
              <i><i class="bi bi-bar-chart-line align-self-center dashboard-icon-profit-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 dashboard-card-best-selling-book-category-div">
          <div class="row mt-2 dashboard-card-best-selling-book-category-subdiv">
            <div class="col-8 dashboard-card-best-selling-book-category-title">
              <p class="dashboard-card-best-selling-book-category-value" data-bs-toggle="tooltip" data-bs-placement="top">{{statsReport.categoriaMaisVendida}}</p>
              <p class="dashboard-card-best-selling-book-category-text">Categoria mais vendido</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-best-selling-book-category-icon">
              <i><i class="bi bi-stack align-self-center dashboard-icon-best-selling-book-category-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 dashboard-card-best-selling-books-div">
          <div class="row mt-2 dashboard-card-best-selling-books-subdiv">
            <div class="col-8 dashboard-card-best-selling-books-title">
              <p class="dashboard-card-best-selling-books-value" data-bs-toggle="tooltip" data-bs-placement="top">{{statsReport.livroMaisVendido}}</p>
              <p class="dashboard-card-best-selling-books-text">Livro mais vendido</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-best-selling-books-icon">
              <i><i class="bi bi-book align-self-center dashboard-icon-best-selling-books-book"></i></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row dashboard-informations-div2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 dashboard-card-region-that-bought-the-most-book-div">
          <div class="row mt-2 dashboard-card-region-that-bought-the-most-book-subdiv">
            <div class="col-8 dashboard-card-region-that-bought-the-most-book-title">
              <p class="dashboard-card-region-that-bought-the-most-book-value" data-bs-toggle="tooltip" data-bs-placement="top">{{statsReport.leitorPorRegiao}}</p>
              <p class="dashboard-card-region-that-bought-the-most-book-text">Leitor por região</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-region-that-bought-the-most-book-icon">
              <i><i class="bi bi-geo-alt align-self-center dashboard-icon-region-that-bought-the-most-book-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 dashboard-card-genre-that-bought-the-most-book-div">
          <div class="row mt-2 dashboard-card-genre-that-bought-the-most-book-subdiv">
            <div class="col-8 dashboard-card-genre-that-bought-the-most-book-title">
              <p class="dashboard-card-genre-that-bought-the-most-book-value" data-bs-toggle="tooltip" data-bs-placement="top">{{statsReport.leitorPorGenero}}</p>
              <p class="dashboard-card-genre-that-bought-the-most-book-text">Leitor por gênero</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-genre-that-bought-the-most-book-icon">
              <i><i class="bi bi-gender-ambiguous align-self-center dashboard-icon-genre-that-bought-the-most-book-book"></i></i>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 dashboard-card-books-sold-div">
          <div class="row mt-2 dashboard-card-books-sold-subdiv">
            <div class="col-8 dashboard-card-books-sold-title">
              <p class="dashboard-card-books-sold-value" data-bs-toggle="tooltip" data-bs-placement="top">{{statsReport.livrosVendidos}}</p>
              <p class="dashboard-card-books-sold-text">Livros vendidos</p>
            </div>
            <div class="col-4 d-flex justify-content-center dashboard-card-books-sold-icon">
              <i><i class="bi bi-book align-self-center dashboard-icon-books-sold-book"></i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




