/*Division of field the dashboard*/

.dashboard-container {
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
  }
  
  .dashboard-title-div {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-bottom: 1px solid rgb(204, 203, 203);
  }
  
  .dashboard-title {
    font-size: 25px;
    font-style: italic;
    color: rgb(140,205,188);
    font-weight: 700;
  }
  
  .dashboard-input-div {
    height: auto;
  }
  
  .dashboard-input-text {
    border: 1px solid rgb(209, 208, 208);
    height: 38px;
    width: 250px;
    outline: none;
  }
  
  .dashboard-btn {
    border: 1px solid rgb(209, 208, 208);
    background-color: white;
    height: 38px;
    width: 50px;
    position: relative;
    right: 20px;
    color: rgb(140,205,188);
  }
  
  .dashboard-informations-div1 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .dashboard-card-readers-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-readers-subdiv {
    height: 100%;
  }
  
  .dashboard-card-readers-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-readers-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-readers-icon {
    height: auto;
  }
  
  .dashboard-icon-readers-book {
    font-size: 40px;
    color: rgba(53,126,107,1);;
  }
  
  .dashboard-card-profit-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-profit-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-profit-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-profit-icon {
    height: auto;
  }
  
  .dashboard-icon-profit-book {
    font-size: 40px;
    color: rgba(53,126,107,1);;
  }
  
  .dashboard-card-best-selling-book-category-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-best-selling-book-category-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-best-selling-book-category-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-best-selling-book-category-icon {
    height: auto;
  }
  
  .dashboard-icon-best-selling-book-category-book {
    font-size: 40px;
    color: rgba(53,126,107,1);;
  }
  
  .dashboard-card-how-many-books-are-in-stock-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-how-many-books-are-in-stock-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-how-many-books-are-in-stock-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-how-many-books-are-in-stock-icon {
    height: auto;
  }
  
  .dashboard-icon-how-many-books-are-in-stock-book {
    font-size: 40px;
    color: rgba(53,126,107,1);;
  }
  
  .dashboard-informations-div2 {
    margin-bottom: 20px;
  }
  
  .dashboard-card-best-selling-books-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-best-selling-books-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-best-selling-books-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-best-selling-books-icon {
    height: auto;
  }
  
  .dashboard-icon-best-selling-books-book {
    font-size: 40px;
    color: rgba(53,126,107,1);;
  }
  
  .dashboard-card-region-that-bought-the-most-book-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-region-that-bought-the-most-book-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-region-that-bought-the-most-book-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-region-that-bought-the-most-book-icon {
    height: auto;
  }
  
  .dashboard-icon-region-that-bought-the-most-book-book {
    font-size: 40px;
    color: rgba(53,126,107,1);;
  }
  
  .dashboard-card-genre-that-bought-the-most-book-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-genre-that-bought-the-most-book-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-genre-that-bought-the-most-book-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-genre-that-bought-the-most-book-icon {
    height: auto;
  }
  
  .dashboard-icon-genre-that-bought-the-most-book-book {
    font-size: 40px;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-books-sold-div {
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    height: 70px;
  }
  
  .dashboard-card-books-sold-value {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(53,126,107,1);
  }
  
  .dashboard-card-books-sold-text {
    font-size: 12px;
    color: rgb(128, 128, 128);
    position: relative;
    bottom: 05px;
  }
  
  .dashboard-card-books-sold-icon {
    height: auto;
  }
  
  .dashboard-icon-books-sold-book {
    font-size: 40px;
    color: rgba(53,126,107,1);;
  }
  