<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">QTDE de Livros</h6>
        <p class="card-text">1500</p>
        <hr class="divisor">
      </div>
      <div class="icon-dashboard">
        <i class="bi bi-book icon"></i>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">QTDE de Leitores</h6>
        <p class="card-text">1500</p>
        <hr class="divisor">
      </div>
      <div class="icon-dashboard">
        <i class="bi bi-person icon"></i>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Categoria mais vendido</h6>
        <p class="card-text">1500</p>
        <hr class="divisor">
      </div>
      <div class="icon-dashboard">
        <i class="bi bi-tags icon"></i>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Ticket Médio</h6>
        <p class="card-text">1500</p>
        <hr class="divisor">
      </div>
      <div class="icon-dashboard"></div>
    </div>
  </div>

</div>
