<ejs-sidebar id="default-sidebar" #sidebar (created)="onCreated($event)" style="visibility: hidden" [width]="width" [showBackdrop]="showBackdrop" [closeOnDocumentClick]="closeOnDocumentClick">
  <div class="title"> Sidebar content</div>
  <div class="sub-title">
      Click the button to close the Sidebar.
  </div>
  <div class="center-align">
    <button ejs-button id="close" (click)="closeClick()" class="e-btn close-btn btn btn-dark">Close Sidebar</button>
  </div>
</ejs-sidebar>
<div>
  <div style="padding:20px" class="center-align">
    <button ejs-button id="toggle" class="e-btn e-info btn btn-dark" (click)="toggleClick()"><i class="bi bi-list"></i></button>
  </div>

  <div class="container border">
    <div class="row justify-content-center border">
      <div class="col-4 border">
        <input class="col-8" type="text" #campoInput>
        <button class="btn btn-dark" type="submit" (click)=getLivros(campoInput.value)><i class="bi bi-search"></i></button>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>







<div *ngIf="$livros != null">
  <div class="row" *ngIf = "$livros | async as content; else loading">
    <div class="container my-4">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" *ngFor="let number of counter(); let i = index" [ngClass]="{'active': i == 0}" [attr.data-bs-slide-to]=i [attr.aria-current]="i === 0 ? 'true' :null" [attr.aria-label]=i></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let listaLivro of slides; let i = index;" [ngClass]="{'active': i == 0}" data-bs-interval="10000">
            <div class="row justify-content-center">
              <div class="card col-4" *ngFor="let livro of listaLivro" style="width: 14rem;">
                <img src={{livro.urlDaImagemDoLivro}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{livro.nomeDoLivro}}</h5>
                  <p class="card-text">{{livro.nomeDoAutor}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
