<div class="container yourcomments-container">
  <div class="yourcomments-div">
    <div class="yourcomments-title-div">
      <p class="yourcomments-title">Atualização de Comentário</p>
    </div>
    <div class="card card-body mt-5 mb-5">
      <div class="yourcomments-informations-container">
        <div class="col-sm-12 col-md-6 mt-2 ">
          <label class="yourcomments-rate-label">Avaliador</label>
          <input disabled type="text" class="form-control" placeholder="" #avaliador>
        </div>

        <div class="col-sm-12 col-md-6 mt-2">
          <label class="yourcomments-rate-label">Nome do livro</label>
          <input disabled type="text" class="form-control" placeholder="" #nomeDoLivro>
        </div>

        <div class="col-sm-12 col-md-6 mt-2">
          <label class="yourcomments-rate-label">Autor do livro</label>
          <input disabled type="text" class="form-control" placeholder="" #autorLivro>
        </div>

        <div class="col-sm-12 col-md-6 mt-2">
          <label class="yourcomments-rate-label">Data</label>
          <input disabled type="text" class="form-control" placeholder="" #data>
        </div>
        <div class="col-sm-12 col-md-6 mt-2">
            <label class="yourcomments-commenttitle-label">Título do Comentário</label>
            <input type="text" class="form-control" placeholder="" #tituloComentario>
        </div>
        <div class="col-6 col-sm-6 col-md-6 mt-2">
          <label class="yourcomments-comments-label">Comentário</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #comentario></textarea>
        </div>
        <div class="yourcomments-rating-classify-div mt-2">
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
          <div class="yourcomments-stars-classify-container">
            <div class="yourcomments-classify-text">
              <p>Classificar:</p>
            </div>
            <div class="yourcomments-classify-stars-div">
              <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
              <label for="cm_star-1"><i class="fa"></i></label>
              <input type="radio" id="cm_star-1" name="fb" value="1"/>
              <label for="cm_star-2"><i class="fa"></i></label>
              <input type="radio" id="cm_star-2" name="fb" value="2"/>
              <label for="cm_star-3"><i class="fa"></i></label>
              <input type="radio" id="cm_star-3" name="fb" value="3"/>
              <label for="cm_star-4"><i class="fa"></i></label>
              <input type="radio" id="cm_star-4" name="fb" value="4"/>
              <label for="cm_star-5"><i class="fa"></i></label>
              <input type="radio" id="cm_star-5" name="fb" value="5"/>
            </div>
          </div>
        </div>
        <div class="d-grid d-md-flex justify-content-end">
          <button type="submit" class="btn yourcomments-btn-update-registration">Postar</button>
        </div>
      </div>
    </div>  
  </div>
</div>
