<div class="container">
  <div class="row mgTp">
      <form class="col-md-10 offset-md-1">
          <h3 class="title">Atualização Cadastral</h3>
          <hr class="divisor">
          <div class="row">
            <div class="col">
                <label>Nome do Livro</label>
                <input type="text" class="form-control" placeholder="Nome do Livro">
            </div>
            <div class="col">
                <label>Editora do Livro</label>
                <input type="text" class="form-control" placeholder="Editora do Livro">
            </div>
            <div class="col">
              <label>Idioma do Livro</label>
              <input type="text" class="form-control" placeholder="Idioma do Livro">
            </div>
            <div class="col">
              <label>Nome do Autor</label>
              <input type="text" class="form-control" placeholder="Nome do autor">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
                <label>Preço de Venda</label>
                <input type="text" class="form-control" placeholder="R$">
            </div>
            <div class="col">
                <label>URL da Imagem</label>
                <input type="text" class="form-control" placeholder="URL da Imagem">
            </div>
            <div class="col">
              <label>Quantidade de Livros</label>
              <input type="text" class="form-control" placeholder="Quantidade de Livros">
            </div>
            <div class="col">
              <label>Número de páginas</label>
              <input type="text" class="form-control" placeholder="Número de páginas">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
                <label>Categoria do Livro</label>
                <input type="text" class="form-control" placeholder="Categoria do Livro">
            </div>
            <div class="col">
                <label>Custo do Livro</label>
                <input type="text" class="form-control" placeholder="Custo do Livro">
            </div>
          </div>


          <button type="submit" class="btn botao-cadastro-livro topBtn"><i class="fa fa-sign-in"></i>Cadastrar</button>
      </form>
  </div>
</div>

