<div class="container navbar">
  <div class="container-item1">
    <div class="container-subitem1">
      <a class="navbar-logo">Lovebook</a>
    </div>
    <div class="container-subitem2">
      <div class="dropdown">
        <button class="dropdownchild dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         Autor
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item">Autor</a></li>
          <li><a class="dropdown-item">Título</a></li>
          <li><a class="dropdown-item">Editora</a></li>
        </ul>
      </div>
      <div class="inputparent">
        <input class="inputchild" type="text" #campoInput placeholder="O que você procura?">
      </div>
      <div class="btnparent">
        <button class="btnchild" type="submit" (click)=getLivros(campoInput.value)><i class="bi bi-search"></i></button>
      </div>
    </div>

    <div class="container-subitem3">
      <div class="icon-person">
        <i class="bi bi-person-circle"></i>
      </div>
      <div class="login">
        <div class="greating">
          <p>Olá</p>
        </div>
        <div class="nome">
          <p>André Mantovani &darr;</p>
        </div>
      </div>
    </div>

    <div class="container-subitem4">
      <div class="icon-cart">
        <i class="bi bi-cart"></i>
        <div class="pill-badge">
          <a class="pill-badg-paragraph">1</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="carouselExampleControls" class="carousel container carousel slide" data-bs-ride="carousel">
  <div class="row test1">
    <div class="carousel-inner">
      <div class="carousel-responsive">
        <div class="carousel-item active">
          <img src="../assets/images/banner1.png" class="img d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/banner2.png" class="img d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/banner3.png" class="img d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/banner4.png" class="img d-block" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-arrow-1">
      <div class="carousel-arrow-div">
        <span class="carousel-arrow-div-btn" type="button" data-bs-target="#carouselLiteratura" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </span>
      </div>
      <div class="carousel-arrow-2">
        <span class="carousel-arrow-2-btn" type="button" data-bs-target="#carouselLiteratura" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
