
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');

.navbar {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  height: 85px;
  width: 100%;
}

.container-item1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container-item1 .container-subitem1 {
  align-self: center;
  width: 50%;
}

.container-item1 .container-subitem1 .navbar-logo {
  width: 150px;
  margin-left: 40px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  text-decoration: none;
  font-size: 50px;
  color: white;
}

.container-item1 .container-subitem2 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.container-item1 .container-subitem2 .dropdown {
  align-self: center;
  height: 40px;
}

.container-item1 .container-subitem2 .dropdown .dropdownchild {
  background-color: white;
  border: 1px solid white;
  border-right: 1px solid gray;
  color: gray;
  height: 38px;
  width: 100px;
}

.container-item1 .container-subitem2 .inputparent {
  align-self: center;
  height: 40px;
}

.container-item1 .container-subitem2 .inputparent .inputchild {
  border: 1px solid white;
  height: 38px;
  width: 300px;
  outline: white;
}

.container-item1 .container-subitem2 .btnparent {
  align-self: center;
  height: 40px;
}

.container-item1 .container-subitem2 .btnparent .btnchild {
  border: 1px solid white;
  border-left: 1px solid gray;
  background-color: white;
  height: 38px;
  width: 50px;
}

.container-item1 .container-subitem3 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.container-item1 .container-subitem3 .icon-person {
  align-self: center;
  font-size: 30px;
  color: white;
  height: 50px;
}

.container-item1 .container-subitem3 .login {
  align-self: center;
  height: 40px;
}

.container-item1 .container-subitem3 .login .greating {
  height: 15px;
  font-size: 13px;
  color: white;
  margin-left: 5px;
}

.container-item1 .container-subitem3 .login .nome {
  height: 15px;
  font-size: 13px;
  color: white;
  margin-left: 5px;
}

.container-item1 .container-subitem4 {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20%;
}

.container-item1 .container-subitem4 .icon-cart {
  align-self: center;
  font-size: 30px;
  color: white;
  height: 50px;
}

.container-item1 .container-subitem4 .icon-cart .pill-badge {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 53px;
}

.container-item1 .container-subitem4 .icon-cart .pill-badge .pill-badg-paragraph {
  font-size: 10px;
  align-self: center;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.carousel {
  margin-top: 50px;
  height: 220px;
  background-color: none;
}

.test1 {
  height: 100%;
  display: flex;
  justify-content: center;
}

.carousel-inner {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
}

.carousel-responsive {
  width: 100%;
}

.carousel-item {
  height: 100%;
  width: 100%;
  align-self: center;
}

.img {
  width: 100%;
  height: 100%;
  align-self: center;
}

.carousel-arrow-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 190px;
}

.carousel-arrow-div {
  width: 50px;
  height: 100%;
  display: flex;
}

.carousel-arrow-div-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.carousel-control-prev-icon {
  align-self: center;
}

.carousel-arrow-2 {
  width: 50px;
  height: 100%;
  display: flex;
}

.carousel-arrow-2-btn {
  align-self: center;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.carousel-control-next-icon {
  align-self: center;
  color: black;
}

.newsletter {
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
}

.newsletter-div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.regiter-newsletter {
  align-self: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.newsletter-text {
  margin-right: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.regiter-newsletter .inputchild {
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  outline: white;
}

.regiter-newsletter .btnchild {
  border: 1px solid white;
  border-left: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 50px;
}

.socialmidia {
  align-self: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.icon-facebook {
  align-self: center;
  color: white;
  font-size: 30px;
}

.icon-instagram {
  align-self: center;
  color: white;
  font-size: 30px;
}

.icon-twitter {
  align-self: center;
  color: white;
  font-size: 30px;
}

.footer {
  width: 100%;
  height: 180px;
  background: rgb(241, 241, 241);
}

.footer-div {
  width: 100%;
  height: 180px;
  background: rgb(241, 241, 241);
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.title-about {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
}

.aboutus {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.workus {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.gift {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.title-attendance {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
}

.contact {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.privacy {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.devolution {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.questions {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.payment {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
}

.certificate {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
}

.information-cnpj {
  width: 100%;
  height: 60px;
  background: rgb(241, 241, 241);
  display: flex;
}

.information-cnpj-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.cnpj {
  text-align: center;
}

.cnpj-text {
  font-size: 12px;
}

.address {
  text-align: center;
}

.address-text {
  font-size: 12px;
}




