<div class="container navbar">
  <div class="container-item1">
    <div class="container-subitem1">
      <a class="navbar-logo">Lovebook</a>
    </div>
    <div class="container-subitem2">
      <div class="test1">
        <select class="test2" aria-label="Default select example">
          <option selected>Pesquisar por</option>
          <option value="1">Autor</option>
          <option value="2">Editora</option>
          <option value="3">Livro</option>
        </select>
      </div>
      <div class="inputparent">
        <input class="inputchild" type="text" #campoInput placeholder="O que você procura?">
      </div>
      <div class="btnparent">
        <button class="btnchild" type="submit" (click)=getLivros(campoInput.value)><i class="bi bi-search"></i></button>
      </div>
    </div>
    <div class="container-subitem3">
      <div class="icon-person">
        <i class="bi bi-person-circle"></i>
      </div>
      <div class="login">
        <div class="nome">
          <div class="dropdown">
            <button style="font-size: 13px; color: white" class="test5 btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <a>Olá, André Mantovani</a>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-subitem4">
      <div class="icon-cart">
        <i class="bi bi-cart"></i>
        <div class="pill-badge">
          <a class="pill-badg-paragraph">1</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="carouselExampleControls" class="carousel container carousel slide" data-bs-ride="carousel">
  <div class="row test1">
    <div class="carousel-inner">
      <div class="carousel-responsive">
        <div class="carousel-item active">
          <img src="../assets/images/banner1.png" class="img d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/banner2.png" class="img d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/banner3.png" class="img d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/banner4.png" class="img d-block" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-arrow-1">
      <div class="carousel-arrow-div">
        <button class="carousel-arrow-div-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="" aria-hidden="true"><i class="bi bi-chevron-left icon-arrow"></i></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <div class="carousel-arrow-2">
        <button class="carousel-arrow-2-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="" aria-hidden="true"><i class="bi bi-chevron-right icon-arrow"></i></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="newsletter">
  <div class="newsletter-div">
    <div class="regiter-newsletter">
      <a class="newsletter-text">Cadastre em nossa newsletter</a>
      <input class="inputchild" type="text" #campoInput placeholder="Cadastre seu e-mail aqui">
      <button class="btnchild" type="submit" (click)=getLivros(campoInput.value)><i class="bi bi-search"></i></button>
    </div>
    <div class="socialmidia">
      <a>Acompanhe a gente</a>
    </div>
    <div class="icon-facebook">
      <i class="bi bi-facebook"></i>
    </div>
    <div class="icon-instagram">
      <i class="bi bi-instagram"></i>
    </div>
    <div class="icon-twitter">
      <i class="bi bi-twitter"></i>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-div">
    <div class="about">
      <h6 class="title-about">Sobre a Lovebook</h6>
      <div class="aboutus">
        <a>Quem somos</a>
      </div>
      <div class="workus">
        <a>Trabalhe conosco</a>
      </div>
      <div class="gift">
        <a>Vale-presente</a>
      </div>
    </div>
    <div class="attendance">
      <h6 class="title-attendance">Atendimento ao cliente</h6>
      <div class="contact">
        <a>Entre em contato</a>
      </div>
      <div class="privacy">
        <a>Política de privacidade</a>
      </div>
      <div class="devolution">
        <a>Política de entrega e devolução</a>
      </div>
      <div class="questions">
        <a>Perguntas e respostas</a>
      </div>
    </div>
    <div class="payment">
      <h6 class="title-payment">Formas de pagamentos</h6>
      <div>
        <img src="../assets/images/bandeiraTipoPagamento.png">
      </div>
    </div>
    <div class="certificate">
      <h6 class="title-certificate">Certificados</h6>
      <div>
        <img src="../assets/images/CompraSegura.png">
      </div>
    </div>
  </div>
</div>

<div class="information-cnpj">
  <div class="row information-cnpj-div">
    <div class="cnpj">
      <p class="cnpj-text">lovebook.com.br Serviços de Busca de livros na Internet Ltda - CNPJ 00.000.000/0001-60</p>
    </div>
    <div class="address">
      <p class="address-text">Av. Cidade Jardim, 0000,  São José dos Campos, SP Cep: 00000-000 - atendimento@lovebook.com.br</p>
    </div>
  </div>
</div>


