/*Division of field the registration update */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');


/*Division of field the app */

.app-container {
  height: auto;
}

/*Division of field the navbar */

.navbar-container {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  height: 90px;
  width: 100%;
}

.navbar-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar-logo-div {
  align-self: center;
  width: 50%;
}

.navbar-logo-text {
  width: 150px;
  margin-left: 40px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  text-decoration: none;
  font-size: 50px;
  color: white;
}

.navbar-search-div {
  display: flex;
  justify-content: center;
  width: 50%;
}

.navbar-search-select-div {
  align-self: center;
}

.navbar-search-select {
  align-self: center;
  border-radius: 0;
  width: 160px;
  margin-bottom: 1px;
  outline: none;
  color: rgb(140,205,188);
  border: 1px solid white;
  padding: 5px;
  border-right: 1px solid rgb(158, 158, 158);;
  height: 38px;
}

.navbar-search-input-div {
  align-self: center;
  height: 40px;
}

.navbar-search-input-text {
  border: 1px solid white;
  height: 38px;
  width: 300px;
  outline: none;
}

.navbar-search-btn-div {
  align-self: center;
  height: 40px;
}

.navbar-search-btn {
  border: 1px solid white;
  background-color: white;
  height: 38px;
  width: 50px;
  position: relative;
  right: 20px;
  color: rgb(140,205,188);
}

.navbar-account-div {
  display: flex;
  justify-content: center;
  width: 50%;
}

.navbar-account-icon-div {
  align-self: center;
  font-size: 30px;
  color: white;
  height: 50px;
}

.navbar-description-account-login-div {
  align-self: center;
  height: 40px;
}

.navbar-description-account-dropdownmenu-btn {
  font-size: 13px;
  color: white;
}

.navbar-description-account-dropdownmenu-btn:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.dropdown-menu {
  background-color: rgb(241, 241, 241);
}

.navbar-description-account-dropdownmenu-open {
  border-bottom: 2px solid white;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  margin: 5px;
}

.navbar-description-account-dropdownmenu-newregister {
  border-bottom: 1px solid white;
  padding: 5px;
}

.navbar-description-account-dropdownmenu-myaccount {
  padding: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(140,205,188) !important;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}

.navbar-description-account-cart-div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20%;
}

.navbar-description-account-cart-icon {
  align-self: center;
  font-size: 30px;
  color: white;
  height: 50px;
}

.navbar-description-account-pillbadge {
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
  left: 18px;
}

.navbar-description-account-pillbadge-number {
  font-size: 10px;
  align-self: center;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/*Division of field the newsletter */

.newsletter-container {
  width: 100%;
  height: 80px;
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  display: flex;
}

.newsletter-informations-div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.newsletter-informations-registernewsletter-div {
  align-self: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.newsletter-informations-registernewsletter-title {
  margin-right: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.newsletter-informations-registernewsletter-input {
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  outline: white;
}

.newsletter-informations-registernewsletter-btn {
  border: 1px solid white;
  border-left: 1px solid white;
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 50px;
  position: relative;
  right: 20px;
  color: rgb(140,205,188);
}

.newsletter-informations-socialmidia-title-div {
  align-self: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.newsletter-informations-socialmidia-icon-facebook {
  align-self: center;
  color: white;
  font-size: 30px;
}

.newsletter-informations-socialmidia-icon-instagram {
  align-self: center;
  color: white;
  font-size: 30px;
}

.newsletter-informations-socialmidia-icon-twitter {
  align-self: center;
  color: white;
  font-size: 30px;
}

/*Division of field the footer */

.footer-container {
  width: 100%;
  height: auto;
  background: rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
}

.footer-informations-div {
  width: 100%;
  height: 180px;
  background: rgb(241, 241, 241);
  margin-top: 40px;
}

.footer-about-div {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
  border: 2px solid black;
}

.footer-aboutus-title {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.footer-workus-title {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.footer-gift-title {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.footer-attendance-div {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
  border: 2px solid black;
}

.footer-contact-title {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.footer-privacy-title {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.footer-devolution-title {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.footer-questions-title {
  font-size: 14px;
  color: rgb(70, 73, 73);
  margin-top: 5px;
}

.footer-payment-div {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
  border: 2px solid black;
}

.footer-certificate-div {
  text-transform: uppercase;
  color: rgba(53,126,107,1);
  border: 2px solid black;
}


/*Division of field the cnpj information */

.informationcnpj-container {
  width: 100%;
  height: auto;
}

.informationcnpj {
  width: 100%;
  height: auto;
  background: rgb(241, 241, 241);
  display: flex;
}

.informationcnpj-informations-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.informationcnpj-informations-cnpj-div {
  text-align: center;
}

.informationcnpj-informations-cnpj-text {
  font-size: 12px;
}

.informationcnpj-informations-address-div {
  text-align: center;
}

.informationcnpj-informations-address-text {
  font-size: 12px;
}


