<div class="container alert alert-success alert-dismissible fade show mt-5" role="alert" *ngIf="showModalSuccess">
  <strong>Sucesso:</strong> Sua cadastro foi realizado com sucesso.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container alert alert-danger alert-dismissible fade show mt-5" role="alert" *ngIf="showModalFailure">
  <strong>Erro:</strong> Ocorreu um erro ao realizar seu cadastro.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container userregistration-container">
  <div class="userregistration-div">
    <div class="userregistration-title-div">
      <p class="userregistration-title">Faça seu Cadastro</p>
    </div>
    <div class="userregistration-informations-container">
      <form>
        <div class="row userregistration-informations-div1">
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-name-label">Nome</label>
            <input name="nome" [(ngModel)]="formulario.nome" type="text" class="form-control" placeholder="Nome" style="color: rgb(140,205,188);">
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
              <label class="userregistration-lastname-label">Sobrenome</label>
              <input name="sobrenome" [(ngModel)]="formulario.sobrenome" type="text" class="form-control" placeholder="Sobrenome" style="color: rgb(140,205,188);">
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-email-label">E-mail</label>
            <input name="emailUsuario" [(ngModel)]="formulario.emailUsuario" type="email" class="form-control" placeholder="E-mail" style="color: rgb(140,205,188);">
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-password-label">Senha</label>
            <input name="senhaUsuario" [(ngModel)]="formulario.senhaUsuario" type="password" class="form-control" placeholder="Senha" style="color: rgb(140,205,188);">
          </div>
        </div>
        <div class="row userregistration-informations-div2">
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-zipcode-label">CEP</label>
            <input name="cepUsuario" [(ngModel)]="formulario.cepUsuario" type="text" class="form-control" placeholder="CEP" style="color: rgb(140,205,188);">
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-address-label">Endereço</label>
            <input name="enderecoUsuario" [(ngModel)]="formulario.enderecoUsuario" type="text" class="form-control" placeholder="Endereço" style="color: rgb(140,205,188);">
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-number-label">Número</label>
            <input name="numeroEnderecoUsuario" [(ngModel)]="formulario.numeroEnderecoUsuario" type="text" class="form-control" placeholder="Número" style="color: rgb(140,205,188);">
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-complement-label">Complemento</label>
            <input name="complementoEnderecoUsuario" [(ngModel)]="formulario.complementoEnderecoUsuario" type="text" class="form-control" placeholder="Complemento" style="color: rgb(140,205,188);">
          </div>
        </div>
        <div class="row userregistration-informations-div3">
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-city-label">Cidade</label>
            <input name="cidadeUsuario" [(ngModel)]="formulario.cidadeUsuario" type="text" class="form-control" placeholder="Cidade" style="color: rgb(140,205,188);">
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-state-label">Estado</label>
            <select name="estadoUsuario" [(ngModel)]="formulario.estadoUsuario" class="form-select userregistration-select" aria-label="Default select example">
              <option selected="selected">Estado</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
              <option value="EX">Estrangeiro</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-user-label">Tipo de Usuário</label>
            <select name="perfil" [(ngModel)]="formulario.perfil" class="form-select userregistration-select-user" aria-label="Default select example">
              <option selected>Tipo de Usuário</option>
              <option value="Cliente">Cliente</option>
              <option value="Colaborador">Colaborador</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <label class="userregistration-gender-label">Sexo</label>
            <select name="sexoUsuario" [(ngModel)]="formulario.sexoUsuario" class="form-select userregistration-select-gender" aria-label="Default select example">
              <option selected>Sexo</option>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
            </select>
          </div>
        </div>
        <div class="row userregistration-informations-div4">
          <div class="col-12 col-sm-12 col-md-3 mt-2">
            <label class="clientpayment-creditcard-label">Número do cartão de crédito</label>
            <input name="numeroCartaoCredito" [(ngModel)]="formulario.numeroCartaoCredito" type="text" class="form-control" placeholder="Número" style="color: rgb(140,205,188);">
          </div>
          <div class="col-12 col-sm-12 col-md-3 mt-2">
              <label class="userregistration-cardnumber-label">Nome do cartão de crédito</label>
              <input name="nomeCartaoCredito" [(ngModel)]="formulario.nomeCartaoCredito" type="text" class="form-control" placeholder="Nome" style="color: rgb(140,205,188);">
          </div>
          <div class="col-12 col-sm-12 col-md-3  mt-2">
            <div class="row">
              <div class="col">
                <label class="userregistration-expiriondate-label">Mês de expiração</label>
                <select name="mesExpiracaoCartaoCredito" [(ngModel)]="formulario.mesExpiracaoCartaoCredito" class="form-select userregistration-select-mounth" aria-label="Default select example" style="width: 120px;">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="col">
                <label class="userregistration-expiriondate-label">Ano de expiração</label>
                <select name="anoExpiracaoCartaoCredito" [(ngModel)]="formulario.anoExpiracaoCartaoCredito" class="form-select userregistration-select-year" style="width: 120px;">
                  <option selected value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-3 mt-2">
            <label class="userregistration-securitycode-label">Código de segurança CVV</label>
            <input name="codigoSegurancaCartaoCredito" [(ngModel)]="formulario.codigoSegurancaCartaoCredito" type="text" class="form-control" placeholder="CVV" style="color: rgb(140,205,188);">
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn userregistration-btn-update-registration" data-bs-toggle="modal" data-bs-target="#exampleModal">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title employeeregistrationbook-title" id="exampleModalLabel">Cadastro de usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você confirma o seu cadastro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn clientregistrationupdate-btn-update-registration" data-bs-dismiss="modal" (click)="registrarUsuario()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
