<div>
  <div class="container knowmore-container">
    <div class="knowmore-div">
      <div class="knowmore-title-div">
        <p class="knowmore-title">Saiba Mais </p>
      </div>
      <div class="container knowmore-informations-container mt-3">
        <div class="row knowmore-informations-div">
          <div class="col-sm-12 col-md-6 knowmore-img-div">
            <div class="knowmore-img">
              <img src="https://images-na.ssl-images-amazon.com/images/I/41GeyYROqTL._SY344_BO1,204,203,200_QL70_ML2_.jpg">
            </div>
          </div>
          <div class="col-sm-12 col-md-6 knowmore-informations-of-book-container">
            <div class="container knowmore-informations-of-book-div">
              <div class="knowmore-title-book-div">
                <p class="knowmore-title-book-p">Dom Casmurro</p>
              </div>
              <div class="knowmore-author-publishingcompany-date-div">
                <div class="row">
                  <div class="col-sm-12 col-md-6 knowmore-author-div">
                    <p class="knowmore-author-p1">Autor:</p>
                    <p class="knowmore-author-p2">Machado de Assis</p>
                  </div>
                  <div class="col-sm-12 col-md-6 knowmore-publishingcompany-div">
                    <p class="knowmore-publishingcompany-p1">Editora:</p>
                    <p class="knowmore-publishingcompany-p2">Principis</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6 knowmore-publishingcompany-div">
                    <p class="knowmore-publishingcompany-p1">Estoque:</p>
                    <p class="knowmore-publishingcompany-p2">1500</p>
                  </div>
                  <div class="col-sm-12 col-md-6 knowmore-price-div">
                    <p class="knowmore-price-p1">Preço:</p>
                    <p class="knowmore-price-p2">R$20,00</p>
                  </div>
                </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn knowmore-btn-modify-book">Adicionar ao Carrinho</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container productdetails-container">
    <div class="productdetails-div">
      <div class="productdetails-title-div">
        <p class="productdetails-title">Detalhes do Livro</p>
      </div>
      <div class="container productdetails-nameofproduct-container mt-3">
        <div class="container row productdetails-nameofproduct-div">
          <div class="col-3 row productdetails-nameofproduct-div1" >
            <div class="row productdetails-nameofproduct-subdiv1">
              <p class="productdetails-nameofproduct-subdiv1-description1">Nome do Livro</p>
            </div>
          </div>
          <div class="col-9 productdetails-nameofproduct-div2">
            <div class="row productdetails-nameofproduct-subdiv2">
              <p class="productdetails-nameofproduct-subdiv2-description2">Nome do Livro</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-publishingcompany-container mt-3">
        <div class="container row productdetails-publishingcompany-div">
          <div class="col-3 row productdetails-publishingcompany-div1" >
            <div class="row productdetails-publishingcompany-subdiv1">
              <p class="productdetails-publishingcompany-subdiv1-description1">Edtiora</p>
            </div>
          </div>
          <div class="col-9 productdetails-publishingcompany-div2">
            <div class="row productdetails-publishingcompany-subdiv2">
              <p class="productdetails-publishingcompany-subdiv2-description2">Editora</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-language-container mt-3">
        <div class="container row productdetails-language-div">
          <div class="col-3 row productdetails-language-div1" >
            <div class="row productdetails-language-subdiv1">
              <p class="productdetails-language-subdiv1-description1">Idioma</p>
            </div>
          </div>
          <div class="col-9 productdetails-language-div2">
            <div class="row productdetails-language-subdiv2">
              <p class="productdetails-language-subdiv2-description2">Idioma</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-saleprice-container mt-3">
        <div class="container row productdetails-saleprice-div">
          <div class="col-3 row productdetails-saleprice-div1" >
            <div class="row productdetails-saleprice-subdiv1">
              <p class="productdetails-saleprice-subdiv1-description1">Preço de Venda</p>
            </div>
          </div>
          <div class="col-9 productdetails-saleprice-div2">
            <div class="row productdetails-saleprice-subdiv2">
              <p class="productdetails-saleprice-subdiv2-description2">Preço de Venda</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-numberofpages-container mt-3">
        <div class="container row productdetails-numberofpages-div">
          <div class="col-3 row productdetails-numberofpages-div1" >
            <div class="row productdetails-numberofpages-subdiv1">
              <p class="productdetails-numberofpages-subdiv1-description1">Número de Páginas</p>
            </div>
          </div>
          <div class="col-9 productdetails-numberofpages-div2">
            <div class="row productdetails-numberofpages-subdiv2">
              <p class="productdetails-numberofpages-subdiv2-description2">Número de Páginas</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-authorname-container mt-3">
        <div class="container row productdetails-authorname-div">
          <div class="col-3 row productdetails-authorname-div1" >
            <div class="row productdetails-authorname-subdiv1">
              <p class="productdetails-authorname-subdiv1-description1">Nome do Autor</p>
            </div>
          </div>
          <div class="col-9 productdetails-authorname-div2">
            <div class="row productdetails-authorname-subdiv2">
              <p class="productdetails-authorname-subdiv2-description2">Nome do Autor</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-inventory-container mt-3">
        <div class="container row productdetails-inventory-div">
          <div class="col-3 row productdetails-inventory-div1" >
            <div class="row productdetails-inventory-subdiv1">
              <p class="productdetails-inventory-subdiv1-description1">Estoque</p>
            </div>
          </div>
          <div class="col-9 productdetails-inventory-div2">
            <div class="row productdetails-inventory-subdiv2">
              <p class="productdetails-inventory-subdiv2-description2">Estoque</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-category-container mt-3">
        <div class="container row productdetails-category-div">
          <div class="col-3 row productdetails-category-div1" >
            <div class="row productdetails-category-subdiv1">
              <p class="productdetails-category-subdiv1-description1">Categoria</p>
            </div>
          </div>
          <div class="col-9 productdetails-category-div2">
            <div class="row productdetails-category-subdiv2">
              <p class="productdetails-category-subdiv2-description2">Categoria</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container productdetails-description-container mt-3 mb-3">
        <div class="container row productdetails-description-div">
          <div class="col-3 row productdetails-description-div1" >
            <div class="row productdetails-description-subdiv1">
              <p class="productdetails-description-subdiv1-description1">Descrição</p>
            </div>
          </div>
          <div class="col-9 productdetails-description-div2">
            <div class="row productdetails-description-subdiv2">
              <p class="productdetails-description-subdiv2-description2">Descrição</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container productdetails-container">
    <div class="productdetails-div">
      <div class="productdetails-title-div">
        <p class="productdetails-title">Avaliações</p>
      </div>

      <div class="row ">
        <div class="col d-flex justify-content-center">
          <h1>4.7</h1>
          <div class="yourcomments-rating-div">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <div class="yourcomments-stars-container">
              <div class="yourcomments-stars-div">
                <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                <label for="cm_star-1"><i class="fa"></i></label>
                <input type="radio" id="cm_star-1" name="fb" value="1"/>
                <label for="cm_star-2"><i class="fa"></i></label>
                <input type="radio" id="cm_star-2" name="fb" value="2"/>
                <label for="cm_star-3"><i class="fa"></i></label>
                <input type="radio" id="cm_star-3" name="fb" value="3"/>
                <label for="cm_star-4"><i class="fa"></i></label>
                <input type="radio" id="cm_star-4" name="fb" value="4"/>
                <label for="cm_star-5"><i class="fa"></i></label>
                <input type="radio" id="cm_star-5" name="fb" value="5"/>
              </div>
            </div>
            <h4>Baseado em 35 avaliações</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
