
.productdetails-container {
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.productdetails-title-div {
  border-bottom: 1px solid rgb(204, 203, 203);
  display: flex;
  justify-content: flex-start;
}

.productdetails-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}

.productdetails-btn-modify-book {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productdetails-btn-update-book {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productdetails-img-container {
  display: flex;
  flex-direction: column;
}

/*Division of field the comments and rate*/

.yourcomments-stars-appraisal-div input[type=radio] {
  display: none;
}

.yourcomments-stars-appraisal-div label i.fa{
  font-size: 2.0em
}

.yourcomments-stars-appraisal-div label i.fa:before {
  content:'\f005';
  color:rgb(140,205,188);
}

.yourcomments-stars-appraisal-div input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
} 

.yourcomments-container-parent {
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}

.yourcomments-container {
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.yourcomments-btn-update-registration {
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
}

.yourcomments-classification-text {
  color:rgb(138, 138, 138);
}

.yourcomments-classify-stars-div input[type=radio] {
  display: none;
}

.yourcomments-classify-stars-div label i.fa{
  font-size: 2.0em
}

.yourcomments-classify-stars-div label i.fa:before {
  content:'\f005';
  color:rgb(140,205,188);
}

.yourcomments-classify-stars-div input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
} 

.yourcomments-div {
  margin-top: 10px;
  height: auto;
}

.yourcomments-stars-commented-div input[type=radio] {
  display: none;
}

.yourcomments-stars-commented-div label i.fa{
  font-size: 1.5em
}

.yourcomments-stars-commented-div label i.fa:before {
  content:'\f005';
  color:rgb(140,205,188);
}

.yourcomments-stars-commented-div input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

.btn-comments{
  background: linear-gradient(0deg, rgba(140,205,188,1) 0%, rgba(53,126,107,1) 71%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.yourcomments-title-div {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.yourcomments-title {
  font-size: 25px;
  font-style: italic;
  color: rgb(140,205,188);
  font-weight: 700;
}

.comments-container {
  height: auto;
  background-color: white;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.comments-stars-appraisal-div input[type=radio] {
  display: none;
}

.comments-stars-appraisal-div label i.fa{
  font-size: 1.2em
}

.comments-stars-appraisal-div label i.fa:before {
  content:'\f005';
  color:rgb(140,205,188);
}

.comments-stars-appraisal-div input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
} 






