<div class="container">
  <div class="row">
    <div class="col-3 container productdetails-img" style="margin-top: 50px;">
      <div class="d-flex justify-content-center">
        <img src="{{livro.urlDaImagemDoLivro}}" style=" width: 400px; height: 440px; border-radius: 5px;">
      </div>
    </div>
    <div class="col-8 container productdetails-container">
      <div class="productdetails-div">
        <div class="row container productdetails-nameofproduct-container-parent">
          <div class="col-12 productdetails-nameofproduct-div mt-4" style="border-top: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-nameofproduct-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-nameofproduct-subdiv1-description1">Nome do Livro</p>
              </div>
              <div class="col-6">
                <p class="productdetails-nameofproduct-subdiv2-description2">{{livro.nomeDoLivro}}</p>
              </div>
            </div>
          </div>
          <div class="col-12 productdetails-publishcompany-div" style="border-top: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-publishcompany-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-publishcompany-subdiv1-description1">Editora</p>
              </div>
              <div class="col-6">
                <p class="productdetails-publishcompany-subdiv2-description2">{{livro.editoraDoLivro}}</p>
              </div>
            </div>
          </div>
          <div class="col-12 productdetails-language-div" style="border-top: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-language-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-language-subdiv1-description1">Idioma</p>
              </div>
              <div class="col-6">
                <p class="productdetails-language-subdiv2-description2">{{livro.idiomaDoLivro}}</p>
              </div>
            </div>
          </div>
          <div class="col-12 productdetails-saleprice-div" style="border-top: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-saleprice-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-saleprice-subdiv1-description1">Preço de venda</p>
              </div>
              <div class="col-6">
                <p class="productdetails-saleprice-subdiv2-description2">{{livro.precoDeVendaDoLivro}}</p>
              </div>
            </div>
          </div>
          <div class="col-12 productdetails-numberofpages-div" style="border-top: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-numberofpages-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-numberofpages-subdiv1-description1">Número de páginas</p>
              </div>
              <div class="col-6">
                <p class="productdetails-numberofpages-subdiv2-description2">{{livro.numeroDaPaginaDoLivro}}</p>
              </div>
            </div>
          </div>
          <div class="col-12 productdetails-nameofauthor-div" style="border-top: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-nameofauthor-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-nameofauthor-subdiv1-description1">Nome do autor</p>
              </div>
              <div class="col-6">
                <p class="productdetails-nameofauthor-subdiv2-description2">{{livro.nomeDoAutor}}</p>
              </div>
            </div>
          </div>
          <div class="col-12 productdetails-inventory-div" style="border-top: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-inventory-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-inventory-subdiv1-description1">Estoque</p>
              </div>
              <div class="col-6">
                <p class="productdetails-inventory-subdiv2-description2">{{livro.quantidadeDeLivros}}</p>
              </div>
            </div>
          </div>
          <div class="col-12 productdetails-category-div mb-4" style="border-top: 1px solid rgb(204, 203, 203); border-bottom: 1px solid rgb(204, 203, 203);">
            <div class="productdetails-category-subdiv1 d-flex mt-3">
              <div class="col-6">
                <p class="productdetails-category-subdiv1-description1">Categoria</p>
              </div>
              <div class="col-6">
                <p class="productdetails-category-subdiv2-description2">{{livro.categoriaDoLivro}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid d-md-flex justify-content-md-end">
      <button type="submit" class="btn yourcomments-btn-update-book" (click)="listaDeLivros(livro)">Adicionar ao carrinho</button>
    </div>
  </div>
  <div class="row container yourcomments-container">
    <div class="yourcomments-div">
      <div class="yourcomments-title-div">
        <p class="yourcomments-title">Avaliações</p>
      </div>
      <div class="container d-flex">
        <div class="container row justify-content-center"> 
          <div class="row" >
            <div class="col-12 mt-5">
              <h1 style="font-size: 45px;">4.7</h1>
            </div>
            <div class="col-12 yourcomments-rating-appraisal-div mt-3">
              <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
              <div class="yourcomments-stars-appraisal-container">
                <div class="yourcomments-stars-appraisal-div">
                  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                  <label for="cm_star-1"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-1" name="fb" value="1"/>
                  <label for="cm_star-2"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-2" name="fb" value="2"/>
                  <label for="cm_star-3"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-3" name="fb" value="3"/>
                  <label for="cm_star-4"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-4" name="fb" value="4"/>
                  <label for="cm_star-5"><i class="fa"></i></label>
                  <input type="radio" id="cm_star-5" name="fb" value="5"/>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <h4>Baseado em 35 avaliações</h4>
            </div>
          </div>
          <div class="row" >
            <p>
              <a class="btn btn-comments" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Avaliar e Comentar</a>
            </p>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body">
                    <div class="yourcomments-informations-container">
                      <div class="col-sm-12 col-md-6 mt-2">
                        <label class="yourcomments-rate-label">Avaliador</label>
                        <input disabled type="text" class="form-control" placeholder={{messageUser}} #inputAvaliador>
                      </div>
                      <div class="col-sm-12 col-md-6 mt-2">
                          <label class="yourcomments-commenttitle-label">Título do Comentário</label>
                          <input type="text" class="form-control" placeholder="" #inputTituloComentario>
                      </div>
                      <div class="col-6 col-sm-6 col-md-6 mt-2">
                        <label class="yourcomments-comments-label">Comentário</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #inputComentario></textarea>
                      </div>
                      <div class="yourcomments-rating-classify-div mt-2">
                        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                        <div class="yourcomments-stars-classify-container">
                          <div class="yourcomments-classify-text">
                            <p>Classificar:</p>
                          </div>
                          <div class="yourcomments-classify-stars-div">
                            <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                            <label for="cm_star-1"><i class="fa"></i></label>
                            <input type="radio" id="cm_star-1" name="fb" value="1"/>
                            <label for="cm_star-2"><i class="fa"></i></label>
                            <input type="radio" id="cm_star-2" name="fb" value="2"/>
                            <label for="cm_star-3"><i class="fa"></i></label>
                            <input type="radio" id="cm_star-3" name="fb" value="3"/>
                            <label for="cm_star-4"><i class="fa"></i></label>
                            <input type="radio" id="cm_star-4" name="fb" value="4"/>
                            <label for="cm_star-5"><i class="fa"></i></label>
                            <input type="radio" id="cm_star-5" name="fb" value="5"/>
                          </div>
                        </div>
                      </div>
                      <div class="d-grid d-md-flex justify-content-md-end">
                        <button type="submit" class="btn yourcomments-btn-update-registration" (click)="postar(inputTituloComentario.value, inputComentario.value)">Postar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>

      <hr>

      <div class="container comments-container" *ngFor="let item of comentarios">
        <div class="comments-div" >
          <div class="row container comments-nameofproduct-container-parent" >
            <div class="col-12 comments-nameofproduct-div mt-4" style="border-top: 1px solid rgb(204, 203, 203);">
              <div class="comments-nameofproduct-subdiv1 d-flex mt-3">
                <div class="col-6">
                  <p class="comments-nameofproduct-subdiv1-description1">Título do Comentário</p>
                </div>
                <div class="col-6">
                  <p class="comments-nameofproduct-subdiv2-description2">{{item.titulo}}</p>
                </div>
              </div>
            </div>
            <div class="col-12 comments-publishcompany-div" style="border-top: 1px solid rgb(204, 203, 203);">
              <div class="comments-publishcompany-subdiv1 d-flex mt-3">
                <div class="col-6">
                  <p class="comments-publishcompany-subdiv1-description1">Comentário</p>
                </div>
                <div class="col-6">
                  <p class="comments-publishcompany-subdiv2-description2">{{item.comentario}}</p>
                </div>
              </div>
            </div>
            <div class="col-12 comments-language-div" style="border-top: 1px solid rgb(204, 203, 203);">
              <div class="comments-language-subdiv1 d-flex mt-3">
                <div class="col-6">
                  <p class="comments-language-subdiv1-description1">Avaliação</p>
                </div>
                <div class="col-6 comments-rating-appraisal-div">
                  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                  <div class="comments-stars-appraisal-container">
                    <div class="comments-stars-appraisal-div">
                      <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                      <label for="cm_star-1"><i class="fa"></i></label>
                      <input type="radio" id="cm_star-1" name="fb" value="1"/>
                      <label for="cm_star-2"><i class="fa"></i></label>
                      <input type="radio" id="cm_star-2" name="fb" value="2"/>
                      <label for="cm_star-3"><i class="fa"></i></label>
                      <input type="radio" id="cm_star-3" name="fb" value="3"/>
                      <label for="cm_star-4"><i class="fa"></i></label>
                      <input type="radio" id="cm_star-4" name="fb" value="4"/>
                      <label for="cm_star-5"><i class="fa"></i></label>
                      <input type="radio" id="cm_star-5" name="fb" value="5"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 comments-saleprice-div" style="border-top: 1px solid rgb(204, 203, 203);">
              <div class="comments-saleprice-subdiv1 d-flex mt-3">
                <div class="col-6">
                  <p class="comments-saleprice-subdiv1-description1">Avaliado por</p>
                </div>
                <div class="col-6">
                  <p class="comments-saleprice-subdiv2-description2">{{item.usuario}}</p>
                </div>
              </div>
            </div>
            <div class="col-12 comments-saleprice-div" style="border-top: 1px solid rgb(204, 203, 203);">
              <div class="comments-saleprice-subdiv1 d-flex mt-3">
                <div class="col-6">
                  <p class="productdetails-saleprice-subdiv1-description1">Data da avaliação</p>
                </div>
                <div class="col-6">
                  <p class="productdetails-saleprice-subdiv2-description2">{{item.data}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
