<div class="container shoppingcart-container">

  <div class="container shoppingcart-container-div" >
    <div class="container shoppingcart-div">
      <div class="container shoppingcart-subdiv">
        <div class="shoppingcart-title-div">
          <p class="shoppingcart-title">Carrinho de compra</p>
        </div>
        <div class="row shoppingcart-informations-div mt-3" *ngFor="let item of listaLivros">
            <div class="col-6 col-sm-6 col-md-3 shoppingcart-img-div">
              <div style="width: 100%;">
                <div class="shoppingcart-img">
                  <img class="img" src={{item.urlDaImagemDoLivro}}>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 shoppingcart-informations-of-book-container">
              <div class="container shoppingcart-informations-of-book-div">
                <div class="align-self-center shoppingcart-title-book-div">
                  <p class="shoppingcart-title-book-p">{{item.nomeDoLivro}}</p>
                </div>
                <div class="align-self-center shoppingcart-author-publishingcompany-date-div">
                  <div class="col shoppingcart-author-div">
                    <p class="shoppingcart-author-p1">Autor:</p>
                    <p class="shoppingcart-author-p2">{{item.nomeDoAutor}}</p>
                  </div>
                  <div class="col shoppingcart-price-div">
                    <p class="shoppingcart-price-p1">Preço:</p>
                    <p class="shoppingcart-price-p2">R$ {{item.precoDeVendaDoLivro}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 shoppingcart-img-div" >
              <div class="d-flex justify-content-center" style="height: 100%; width: 100%;">
                <div class="align-self-center">
                  <select (change)="calcular($event, item)" class="form-select">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <div class="col-sm-12 col-md-6 shoppingcart-inventory-div">
                    <p class="shoppingcart-inventory-p1">{{item.quantidadeDeLivros}}</p>
                    <p class="shoppingcart-inventory-p2"> disponíveis</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 shoppingcart-img-div">
              <div class="d-flex justify-content-center" style="height: 100%; width: 100%;">
                <div class="align-self-center shoppingcart-img">
                  <h2>R$ {{item.quantidadeSelecionada * item.precoDeVendaDoLivro}}</h2>
                </div>
              </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="d-flex justify-content-end">
            <p class="shoppingcart-delete">Excluir</p>
          </div>
        </div>
        <div class="row">
          <div class="d-flex justify-content-end">
            <h2>Subtotal: R$</h2>
            <h2>20,00</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container shoppingcartaddress-container">
    <div class="container shoppingcartaddress-div">
      <div class="container shoppingcartaddress-subdiv" *ngIf="usuario">
        <div class="shoppingcartaddress-title-div">
          <p class="shoppingcartaddress-title">Endereço de Entrega</p>
        </div>
        <div class="shoppingcartaddress-informations-form mt-3">
          <div class="row shoppingcartaddress-informations-div1">
            <div class="col-sm-12 col-md-4">
              <label class="shoppingcartaddress-zipcode-label">CEP</label>
              <input disabled type="text" class="form-control" placeholder="{{usuario.cepUsuario}}">
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="shoppingcartaddress-address-label">Endereço</label>
              <input disabled type="text" class="form-control" placeholder="{{usuario.enderecoUsuario}}">
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="shoppingcartaddress-number-label">Número</label>
              <input disabled type="text" class="form-control" placeholder="{{usuario.numeroEnderecoUsuario}}">
            </div>
          </div>
          <div class="row shoppingcartaddress-informations-div2">
            <div class="col-sm-12 col-md-4">
              <label class="shoppingcartaddress-complement-label">Complemento</label>
              <input disabled type="text" class="form-control" placeholder="{{usuario.complementoEnderecoUsuario}}">
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="shoppingcartaddress-city-label">Cidade</label>
              <input disabled type="text" class="form-control" placeholder="{{usuario.cidadeUsuario}}">
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="shoppingcartaddress-state-label">Estado</label>
              <select disabled class="form-select shoppingcartaddress-select" aria-label="Default select example">
                <option selected>{{usuario.estadoUsuario}}</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="d-flex justify-content-end">
            <p class="shoppingcart-delete">Alterar</p>
          </div>
        </div>
        <div class="row">
          <div class="d-flex justify-content-end">
            <h2>Frete: R$</h2>
            <h2>20,00</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container shoppingcartpaymentandconfirmorder-container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 container shoppingcartpayment-container">
        <div class="container shoppingcartpayment-div">
          <div class="shoppingcartpayment-div">
            <div class="shoppingcartpayment-title-div">
              <p class="shoppingcartpayment-title">Forma de Pagamento</p>
            </div>
            <div class="shoppingcartpayment-informations-container mt-3" *ngIf="usuario">
              <div>
                <div class="row shoppingcartpayment-informations-div1">
                  <div class="col-sm-12 col-md-6">
                    <label class="shoppingcartpayment-creditcard-label">Número do cartão de crédito</label>
                    <input disabled type="text" class="form-control" placeholder="{{usuario.numeroCartaoCredito}}">
                  </div>
                  <div class="col-sm-12 col-md-6">
                      <label class="shoppingcartpayment-cardnumber-label">Nome do cartão de crédito</label>
                      <input disabled type="text" class="form-control" placeholder="{{usuario.nomeCartaoCredito}}">
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 mt-3">
                    <label class="shoppingcartpayment-expiriondate-label">Data de expiração</label>
                    <div class="d-flex">
                      <select disabled class="form-select shoppingcartpayment-select-mounth" aria-label="Default select example" style="width: 80px;">
                        <option value="1" selected>{{usuario.mesExpiracaoCartaoCredito}}</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                        <option value="1">7</option>
                        <option value="1">8</option>
                        <option value="1">9</option>
                        <option value="1">10</option>
                        <option value="1">11</option>
                        <option value="1">12</option>
                      </select>
                      <select disabled class="form-select shoppingcartpayment-select-year" aria-label="Default select example" style="width: 100px;">
                        <option value="1" selected>{{usuario.anoExpiracaoCartaoCredito}}</option>
                        <option value="1">2022</option>
                        <option value="1">2023</option>
                        <option value="1">2024</option>
                        <option value="1">2025</option>
                        <option value="1">2026</option>
                        <option value="1">2027</option>
                        <option value="1">2028</option>
                        <option value="1">2029</option>
                        <option value="1">2030</option>
                        <option value="1">2031</option>
                      </select>
                  </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-6 mt-3">
                    <label class="shoppingcartpayment-securitycode-label">Código de segurança CVV</label>
                    <input disabled type="text" class="form-control" placeholder="{{usuario.codigoSegurancaCartaoCredito}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="d-flex justify-content-end">
                  <p class="shoppingcart-delete">Alterar</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 container shoppingcartfinalizeorder-container">
        <div class="container shoppingcartpayment-div">
          <div class="shoppingcartpayment-div">
            <div class="shoppingcartpayment-title-div">
              <p class="shoppingcartpayment-title">Resumo do Pedido</p>
            </div>
            <div class="row shoppingcartpayment-informations-container mt-3">
              <div class="col-sm-12 col-md-6">
                <label class="shoppingcartpayment-creditcard-label">Valor do Pedido</label>
                <input disabled type="text" class="form-control" placeholder="R$ 50.00">
              </div>
              <div class="col-sm-12 col-md-6">
                <label class="shoppingcartpayment-creditcard-label">Valor do Frete</label>
                <input disabled type="text" class="form-control" placeholder="R$ 50.00">
              </div>
            </div>
            <div class="row shoppingcartpayment-informations-container mt-3">
              <div class="col-sm-12 col-md-12">
                <label class="shoppingcartpayment-creditcard-label">Valor Total</label>
                <input disabled type="text" class="form-control" placeholder="R$ 100.00">
              </div>
            </div>
            <div class="bookcategory-information-of-book-btn-div">
              <a class="btn bookcategory-btn-modify-book">Confirmar pedido</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

